<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head"/>
</head>
<body class="main-body">
    <nav>
        <partial name="_Navigation" />
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>