
<a class="menu" asp-controller="Home" asp-action="Index">
    Home
</a>
<a class="menu" asp-controller="Author" asp-action="Index">
    Authors
</a>
<a class="menu" asp-controller="Category" asp-action="Index">
    Books
</a>
<a class="menu" asp-controller="Customer" asp-action="Index">
    Customers
</a>
<a class="menu" asp-controller="Loan" asp-action="Index">
    Loan
</a>
